h1,
h3,
h4 {
  text-align: center;
}

.score {
  display: flex;
  justify-content: space-around;
}
.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selection {
  display: flex;
  justify-content: center;
}
.button {
  margin: 10px;
}
.round-result,
.game-result {
  text-align: center;
}
.reset-area {
  display: flex;
  justify-content: center;
}
