* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burger";
  src: url(./CheeseBurger.otf);
}

h1,
h3,
h4 {
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* background-image: URL(./images/background-2.jpg);
  background-size: cover; */
  background-color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-content: center;
  color: rgb(249, 243, 243);
}
.score {
  display: flex;
  justify-content: space-around;
  /* margin: auto; */
  /* min-width: 100vh; */
}
.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 10px;
}
.round-result,
.game-result {
  text-align: center;
}
.reset-area {
  display: flex;
  justify-content: center;
}
.result-container {
  /* margin-top: auto; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* min-height: 50vh; */
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.5rem;
}
.selection {
  display: flex;
  justify-content: center;
  /* margin-top: auto; */
  gap: 10%;
  background-color: rgb(73, 71, 71);
  /* margin: 100px; */
}
.play-buttons {
  max-width: 120px;
  width: 20%;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 50px;
  /* transition: transform 0.2s ease; */
  /* margin: auto; */
}
